In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

### Question 1

In [4]:
data = [4, 8, 15, 16, 23, 42]

ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Question 2

In [5]:
data1 =[1,2,3,4,5,6,7,8,9,10]
print(pd.Series(data1))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Question 3

In [6]:
data2 = {
    "Name":["Alice","Bob","Charlie"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
}

df = pd.DataFrame(data2)
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

### Question 4

A Pandas DataFrame is a two-dimensional labeled data structure with columns of different types. It is often used for data analysis and manipulation.


A Pandas Series is a one-dimensional labeled array, similar to a NumPy array. It is often used to represent a single column of data within a DataFrame, or as a standalone data structure.

[Main Difference is that Series has only 1 column and Dataframe has multiple columns]

### Question 5

There are different types of functions available to manipulate the data in Pandas, some of them are as follows:-

1. read_csv()-> This func. is used to read the csv file. We can use it when we have to read a csv file for analysis

2. read_excel() -> This func. is used to read the excel sheets and we can use it when we have to do analysis in a excel sheets.

3. .head() -> This func. is used to show the first 5 rows from the dataframe. This gives quick access to the data present on top 5

4. .tail() -> This func. gives the last 5 rows from the dataframe. It also gives quick acess to the last data. It can also take parameters

5. columns() -> This will give all the names of the column and we can use it when we have to know the column names of our dataframe

6. to_csv("filename") -> This will helps to create a csv file in our local directory and store all the data available in a dataframe. It is useful when we have to save the data in our local system.

### Question 6

Dataframe and panel are fully mutable and we can change whatever we want to but Series are Immutable in case of Size change, Series is mutable in case of value.

### Question 7

In [10]:
# First converted into series
names = pd.Series(["Alice","Bob","Charlie"])
age =pd.Series([25,30,27])
sex= pd.Series(["Female","Male","Female"])

#stored data in Dictionary format
data_df = {'Name':names,'Age':age,'Gender':sex}

#converted series into DataFrame
df2 = pd.DataFrame(data_df)
print(df2)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female