In [10]:
 # Question no. 1
 # we can comment code in various types :
 # 1. This is an example of single line comment
'''2. This is an example of 
multiline comment'''
                # OR
""" It can also be written under this 
   type of inverted commas"""

' It can also be written under this \n  type of inverted commas'

In [11]:
# Question no. 2
'''A variable is a keyword/symbolic representation in which it holds some value in it.
e.g -> n=100'''
'''Values to variable are assigned by using assignment operator.
e.g-> num=10'''
'''Now to declare a variable we simply write the variable and may assign it to 0
e.g-> num'''

'Now to declare a variable we simply write the variable and may assign it to 0\ne.g-> num'

In [33]:
# Question no. 3
# to convert one data type to another we can use typecasting the inbuilt function of the python
# E.g->
num =10
print(type(num))
# Here the num is typecasted to str
converted_num=str(num)
print(type(converted_num))

<class 'int'>
<class 'str'>

In [34]:
# Question no. 4
"""To write your script in command line we simply write the keyword 'pyhton' and hit enter then we can write our code/script in the command line.""" 
'''To run a script on the command line we write the keyword 'python' followed by the name of the script (e.g - python First.py)'''

"To run a script on the command line we write the keyword 'python' followed by the name of the script (e.g - python First.py)"

In [36]:
# Question no. 5
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

In [38]:
# Question no. 6
"""Complex numbers are those numbers which are represented in the form of 'a+ib' where 'a,b' are real numbers
and 'i' is the imaginary number called 'iota'."""

"""It is represented in python as 'a+bj' where 'a,b' are real numbers and 'j' is the imaginary number called 'iota'."""
r = 4+5j
print(type(r))

<class 'complex'>

In [40]:
# Question no. 7
age = 25

In [41]:
# Question no. 8
price  = 9.99
type(price)
# It holds the float data type

float

In [42]:
# Question no. 9 
name  = "Saman Thakur"
# to print the assignd variable
print(name)

Saman Thakur

In [43]:
# Question no. 10
s = "Hello, World!"
s[7:12]

'World'

In [ ]:
# Question no. 11
is_student = True