## Question 1

Pearson Correlation coefficient is used to find the relation between two variables.

It ranges between `-1 to +1` 

There can be 5 possibilities :-
1. r = 1, perfect positive correlation.
2. r = -1, perfect negative correlation.
3. r = 0 , No relation
4. 0<r<1, Positive relation(closer to +1 stronger the positive relation)
5. -1<r<0, Negative relation (colser to -1 stronger the negative relation).

#### Let's take an example:-

In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame({
    'Student' : ['A','B','C','D'],
    'Study Time(in hrs)' : [2,3,4,5],
    'Exam Scores' : [75,80,85,90]
})

In [7]:
df

  Student  Study Time(in hrs)  Exam Scores
0       A                   2           75
1       B                   3           80
2       C                   4           85
3       D                   5           90

In [8]:
df.corr(method='pearson')

/tmp/ipykernel_77/1928163937.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                    Study Time(in hrs)  Exam Scores
Study Time(in hrs)                 1.0          1.0
Exam Scores                        1.0          1.0

## Question 2

Spearman's rank correlation coefficient, often denoted by ùúå(rho) or ùëüùë†, is a non-parametric measure of the strength and direction of the association between two ranked variables. Unlike Pearson's correlation, which assesses linear relationships, Spearman's correlation evaluates monotonic relationships, which can be either linear or non-linear.

#### Let's take an example:-

In [16]:
df1 = pd.DataFrame({
    'sleep' : [5,4,8,9],
    'satisfaction level' : [7,8,4,10]
})

In [17]:
df1

   sleep  satisfaction level
0      5                   7
1      4                   8
2      8                   4
3      9                  10

In [18]:
df1.corr(method='pearson')

                       sleep  satisfaction level
sleep               1.000000            0.028006
satisfaction level  0.028006            1.000000

## Question 3

In [20]:
# HERE IS THE RANDOM DATA FOR THE GIVEN QUESTION.

import numpy as np
from scipy.stats import pearsonr, spearmanr

# Simulate data: 50 participants
np.random.seed(0)  # For reproducibility
exercise_hours = np.random.normal(5, 2, 50)  # Average 5 hours/week, std dev 2 hours
bmi = 25 - 0.5 * exercise_hours + np.random.normal(0, 1, 50)  # Linear relationship with noise

# Calculate Pearson and Spearman correlation coefficients
pearson_corr, _ = pearsonr(exercise_hours, bmi)
spearman_corr, _ = spearmanr(exercise_hours, bmi)

In [21]:
pearson_corr,spearman_corr

(-0.8055762139770374, -0.7924609843937575)

## Question 4

In [28]:
# Take random data of 50 participants
np.random.seed(0)
watching_time = np.random.randint(12,size=50)
physical_level = np.random.randint(10,size=50)

# calculate 
spr_cof = spearmanr(watching_time,physical_level)[0]
pear_cof = pearsonr(watching_time,physical_level)[0]

print(spr_cof," ",pear_cof)

-0.22893221385362966   -0.20458890193150167

In [29]:
spr_cof

-0.22893221385362966

## Question 5

In [31]:
from sklearn.preprocessing import LabelEncoder

In [30]:
df= pd.DataFrame({
'age' : [25,42,37,19,31,28],
    'soft drink prefrence' : ['Coke','pepsi','MD','Coke','pepsi','Coke']

})

In [32]:
# first we will convert the categorical value to numerical value

# we Target guided label encoding
encoder = LabelEncoder()

In [33]:
encoded_value = encoder.fit_transform(df['soft drink prefrence'])

In [34]:
encoded_value

array([0, 2, 1, 0, 2, 0])

In [35]:
# encoded_df = pd.DataFrame(encoded_value)
df['encoded cat'] = encoded_value

In [36]:
df

   age soft drink prefrence  encoded cat
0   25                 Coke            0
1   42                pepsi            2
2   37                   MD            1
3   19                 Coke            0
4   31                pepsi            2
5   28                 Coke            0

In [39]:
type(df['age'])

pandas.core.series.Series

In [40]:
type(df['encoded cat'])

pandas.core.series.Series

In [41]:
correlation  = df['age'].corr(df['encoded cat'],method = 'pearson')

In [42]:
correlation

0.7691751415594736

## Question 6

In [43]:
# Let's consider a random data
sales_per_day = np.random.randint(100,size=30)
sales_per_week = np.random.randint(1000,size=30)

In [44]:
df = pd.DataFrame({
    'Sales per day' : sales_per_day,
'Sales per week' : sales_per_week
})

In [45]:
df

    Sales per day  Sales per week
0              50             782
1              36              41
2              34              58
3              48             705
4              93              36
5               3             778
6              98              86
7              42              43
8              77             872
9              21              11
10             73             770
11              0             307
12             10              80
13             43              32
14             58             182
15             23             128
16             59             806
17              2             275
18             98             174
19             62             554
20             35             371
21             94             184
22             67             444
23             82             488
24             46             589
25             99             286
26             20             280
27             81             637
28             50             770
29             27             515

In [47]:
correlation_calls = df['Sales per day'].corr(df['Sales per week'],method='pearson')

In [48]:
correlation_calls

0.0791044946565105